.expense-item {
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 25px rgba(113, 119, 116, 0.616);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #ffffffc9;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 4rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1rem;
}

.expense-item h2 {
  font-family: cursive;
  justify-self:left;
  margin-left: 0rem !important;
  color: #000408;
  font-size: 2rem;
  font-weight: 200;
  flex: 1;
  margin: 0 20rem;
  font-weight: bolder;
}

.expense-item__price {
  font-family: lobster;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #0b70f5;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}